* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #1f2833;
    color: #c5c6c7;
}

ul {
    padding: 5px;
}

li {
    list-style: none;
    padding: 4px 4px;
    font-size: 20px;
    display: inline;
}



h1, h2 {
    padding: 5px 5px;
    color: #66fcf1;
}

a {
    text-decoration: none;
    color: #c5c6c7;
}

.nav-item:hover {
    color: #66fcf1;
    cursor: pointer;
    text-decoration: underline;
}

.header {
    background-color: #0b0c10
}

.nav {
    background-color: #0b0c10;
    text-align: center;
}

#open {
    text-decoration: underline;
    color: #66fcf1;
}